@charset "utf-8";

/* 360为效果图分辨率 */

$pageWdith:360/10;

/* 效果图应对那种高清屏设计 */

$devicePixelRatio:3;

/* 效果px转换为适应rem*/

@function rem($px) {
  @return $px/$pageWdith/$devicePixelRatio*1rem;
}

/* 米莱颜色 */

$backgroundColor:#07b1a6;
$fontSize:#07b1a6;


/* 畅读 ~~安卓 */
$backgroundColor:#6EAEFE;
$fontSize:#6eaefe;

body{
  background-color: #f0f1f3;
  color:#848b90;
  font-size:rem(42);
  line-height: 1.5;
}


